/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#include <dt-bindings/zmk/pointing.h>



/ {
        keymap {
                compatible = "zmk,keymap";

// The Base Layer
// ----------------------------------------------------------------------------------------------------------------------------------------------------
// | - |  Q         |  W        | E        | R         || T         | |   -   | | Y          || U          | I           | O         | P           | - |
// |---|------------|-----------|----------|-----------||-----------| |   -   | |------------||------------|-------------|-----------|-------------|---|
// | - |  A [SHIFT] |  S [CTRL] | D [WIN]  | F [ALT]   || G         | |   -   | | H          || J [ALT]    | K [WIN]     | L [CTRL]  | ;/: [SHIFT] | - |
// |---|------------|-----------|----------|-----------||-----------| |   -   | |------------||------------|-------------|-----------|-------------|---|
// | - |  Z         |  X        | C [FUNC] | V [BRACE] || B [BTL]   | |   -   | | N [BTL]    || M [BRACE]  | ,/< [FUNC]  | ./>       | //?         | - |
// -----------------------------|----------|-----------||-----------| |   -   | |------------||------------|-------------|------------------------------
//                              | ESC [L2] | RET [L1]  || TAB [NUM] | |   -   | | BSPC [NUM] || SPC [L1]   | ENTF [L2]   |
//                              ------------------------------------------------------------------------------------------
                default_layer {
                        bindings = <
   &kp MINUS &kp Q        &kp W       &kp E      &kp R      &kp T                &kp Y      &kp U       &kp I       &kp O       &kp P           &kp MINUS
   &kp MINUS &mt LSHIFT A &mt LCTRL D &mt LGUI D &mt LALT F &kp G                &kp H      &mt RALT J  &mt RGUI K  &mt RCTRL L &mt RSHIFT SEMI &kp MINUS
   &kp MINUS &kp Z        &kp X       &lt 4 C    &lt 5 V    &lt 6 B              &lt 6 N    &lt 5 M     &lt 4 COMMA &kp DOT     &kp FSLH        &kp MINUS
                                      &lt 3 ESC  &lt 1 RET  &lt 2 TAB            &lt 2 BSPC &lt 1 SPACE &lt 3 DEL
                        >;
                };

// [L1] LAYER
// --------------------------------------------------------------------------------------------------------------------------------------------------
// | - |            |           |          |          ||         |  |    -    |  | M-LEFT   || SNIPER-    | M-MIDDLE   | SNIPER+    | M-RIGHT    | - |
// |---|------------|-----------|----------|----------||---------|  |    -    |  |----------||------------|------------|------------|------------|---|
// | - |    [SHIFT] | M2 [CTRL] | M3 [WIN] | M1 [ALT] || M-DBL   |  |    -    |  | <-       || DOWN       | UP         | ->         | P-UP       | - |
// |---|------------|-----------|----------|----------||---------|  |    -    |  |----------||------------|------------|------------|------------|---|
// | - |            |           |          |          ||         |  |    -    |  | <-MOUSE  || M-DOWN     | M-UP       | ->MOUSE    | P-DOWN     | - |
// -----------------------------|----------|----------||---------|  |    -    |  |----------||------------|------------|------------------------------
//                              | ESC      | --RET--  || TAB     |  |    -    |  | BSPC     || --SPC--    | ENTF       |
//                              ----------------------------------------------------------------------------------------
                navigation {
                        bindings = <
   &kp MINUS &trans &trans &trans  &trans &trans                        &mkp LCLK      &msc SCRL_LEFT &mkp MCLK    &msc SCRL_RIGHT &mkp RCLK      &kp MINUS
   &kp MINUS &trans &trans &trans  &trans &trans                        &kp  LEFT      &kp  DOWN      &kp  UP      &kp  RIGHT      &msc SCRL_UP   &kp MINUS
   &kp MINUS &trans &trans &trans  &trans &trans                        &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_UP &mmv MOVE_RIGHT &msc SCRL_DOWN &kp MINUS
                           &kp ESC &trans &kp TAB                       &kp  BSPC      &trans         &kp DEL
                        >;
                };

// [NUM] LAYER
// ------------------------------------------------------------------------------------------------------------------------------------------
// | - | F1         | F2        | F3       | F4       || Euler   |  |    -    |  | +        || 7       | 8       | 9        | *         | - |
// |---|------------|-----------|----------|----------||---------|  |    -    |  |----------||---------|---------|----------|-----------|---|
// | - | F5 [SHIFT] | F6 [CTRL] | F7 [WIN] | F8 [ALT] || PI      |  |    -    |  | -        || 4 [ALT] | 5 [WIN] | 6 [CTRL] | = [SHIFT] | - |
// |---|------------|-----------|----------|----------||---------|  |    -    |  |----------||---------|---------|----------|-----------|---|
// | - | F9         | F10       | F11      | F12      || Sqrt2   |  |    -    |  | 0        || 1       | 2       | 3        | .         | - |
// -----------------------------|----------|----------||---------|  |    -    |  |----------||---------|---------|---------------------------
//                              | ESC      | RET      || --TAB-- |  |    -    |  | --BSPC-- || SPC     | ENTF    |
//                              ----------------------------------------------------------------------------------
                numbers {
                        bindings = <
   &kp MINUS &kp F1        &kp F2       &kp F3      &kp F4      &trans         &kp PLUS  &kp N7      &kp N8      &kp N9       &kp ASTERISK     &kp MINUS
   &kp MINUS &mt LSHIFT F5 &mt LCTRL F6 &mt LGUI F7 &mt LALT F8 &trans         &kp MINUS &mt RALT N4 &mt RGUI N5 &mt RCTRL N6 &mt RSHIFT EQUAL &kp MINUS
   &kp MINUS &kp F9        &kp F10      &kp F11     &kp F12     &kp HOME       &kp N0    &kp N1      &kp N2      &kp N3       &kp DOT          &kp MINUS
                                        &kp ESC     &kp RET     &trans         &trans    &kp SPACE   &kp DEL
                        >;
                };

                dummy_01 {
                        bindings = <
   &kp MINUS &trans &trans &trans  &trans &trans         &trans &trans &trans  &trans &trans &kp MINUS
   &kp MINUS &trans &trans &trans  &trans &trans         &trans &trans &trans  &trans &trans &kp MINUS
   &kp MINUS &trans &trans &trans  &trans &trans         &trans &trans &trans  &trans &trans &kp MINUS
                           &trans  &trans &trans         &trans &trans &trans
                        >;
                };
                dummy_02 {
                        bindings = <
   &kp MINUS &trans &trans &trans  &trans &trans         &trans &trans &trans  &trans &trans &kp MINUS
   &kp MINUS &trans &trans &trans  &trans &trans         &trans &trans &trans  &trans &trans &kp MINUS
   &kp MINUS &trans &trans &trans  &trans &trans         &trans &trans &trans  &trans &trans &kp MINUS
                           &trans  &trans &trans         &trans &trans &trans
                        >;
                };

// [BRACE] LAYER (BRACES/SIGNS)
// ----------------------------------------------------------------------------------------------------------------------------------------
// | - | !         | @        | #       | $        | %         ||   |    -    |   | ^    || &       | |       | '         | "         | - |
// |---|-----------|----------|---------|----------|-----------||   |    -    |   |------||---------|---------|-----------|-----------|---|
// | - | ~ [SHIFT] | ` [CTRL] |   [WIN] |    [ALT] | P-UP      ||   |    -    |   | _    || ( [ALT] | [ [WIN] | ] [CTRL]  | ) [SHIFT] | - |
// |---|-----------|----------|---------|----------|-----------||   |    -    |   |------||---------|---------|-----------|-----------|---|
// | - | HOME      | INSERT   | PRINT   | **END**  | P-DOWN    ||   |    -    |   | \/|  || **{**   | <       | >         | }         | - |
// ---------------------------|---------|----------|-----------||   |    -    |   |------||---------|---------|----------------------------
//                            | ESC     | RET      | TAB       ||   |    -    |   | BSPC || SPC     | ENTF    |
//                            ---------------------------------------------------------------------------------
                signs_braces {
                        bindings = <
   &kp MINUS &kp EXCL         &kp AT          &kp HASH  &kp DOLLAR &kp PRCNT        &kp CARET &kp AMPS      &kp PIPE      &kp APOS       &kp DOUBLE_QUOTES &kp MINUS
   &kp MINUS &mt LSHIFT TILDE &mt LCTRL GRAVE &trans    &trans     &kp PG_UP        &kp UNDER &mt RALT LPAR &mt RGUI LBKT &mt RCTRL RBKT &mt RSHIFT RPAR   &kp MINUS
   &kp MINUS &kp HOME         &kp INSERT      &kp PSCRN &lt 5 END  &kp PG_DOWN      &kp BSLH  &lt 5 LBRC    &kp LT        &kp GT         &kp RBRC          &kp MINUS
                                              &kp ESC   &kp RET    &kp TAB          &kp BSPC  &kp SPACE     &kp DEL
                        >;
                };

// [BT+L1] LAYER
// ---------------------------------------------------------------------------------------------------------------------------------------------
// | - | BTCLR      |           |          |          |         |  |    -    |  |         |          |            |           |            | - |
// |---|------------|-----------|----------|----------|---------|  |    -    |  |---------|----------|------------|-----------|------------|---|
// | - | B1         | B2        | B3       | B4       | B5      |  |    -    |  |         |    [ALT] |      [WIN] |    [CTRL] |    [SHIFT] | - |
// |---|------------|-----------|----------|----------|---------|  |    -    |  |---------|----------|------------|-----------|------------|---|
// | - | L1         | L2        | L3       | L4       | L5      |  |    -    |  | ******* |          |            |           |            | - |
// -----------------------------|----------|----------|---------|  |    -    |  |---------|----------|------------|-----------------------------
//                              | ESC      | RET      | TAB     |  |    -    |  | SPC     | BSPC     | ENTF       |
//                              -----------------------------------------------------------------------------------



                lower_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BSPC |
// | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
// | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        bindings = <
   &kp TAB    &kp N1       &kp N2       &kp N3       &kp N4       &kp N5         &kp N6   &kp N7   &kp N8 &kp N9    &kp N0 &kp BSPC
   &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4   &kp LEFT &kp DOWN &kp UP &kp RIGHT &trans &trans
   &kp LSHFT  &trans       &trans       &trans       &trans       &trans         &trans   &trans   &trans &trans    &trans &trans
                                    &kp LGUI     &trans       &kp SPACE      &kp RET  &trans   &kp RALT
                        >;
                };

//                raise_layer {
//// -----------------------------------------------------------------------------------------
//// |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC |
//// | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
//// | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
////                    | GUI |     | SPC |   | ENT |     | ALT |
//                        bindings = <
//   &kp  TAB  &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT   &kp CARET &kp AMPS  &kp ASTRK &kp LPAR &kp RPAR &kp BSPC
//   &kp LCTRL &trans   &trans &trans   &trans   &trans      &kp MINUS &kp EQUAL &kp LBKT  &kp RBKT &kp BSLH &kp GRAVE
//   &kp LSHFT &trans   &trans &trans   &trans   &trans      &kp UNDER &kp PLUS  &kp LBRC  &kp RBRC &kp PIPE &kp TILDE
//                             &kp LGUI &trans   &kp SPACE   &kp RET   &trans    &kp RALT
//                        >;
//                };
//
//// -----------------------------------------------------------------------------------------
//// |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
//// | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
//// | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
////                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |
//                old_default{
//                        bindings = <
//   &kp TAB   &kp Q &kp W &kp E &kp R &kp T   &kp Y &kp U  &kp I     &kp O   &kp P    &kp BSPC
//   &kp LCTRL &kp A &kp S &kp D &kp F &kp G   &kp H &kp J  &kp K     &kp L   &kp SEMI &kp SQT
//   &kp LSHFT &kp Z &kp X &kp C &kp V &kp B   &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp ESC
//                  &kp LGUI &mo 1 &kp SPACE   &kp RET &mo 2 &kp RALT
//                        >;
//                };

        };
};

// -------------------------------------------------------------------------------------------------------------------------------------
// [L1] ARROWS LAYER
// [NUM] RGB LED LAYER
// [BRACE] BRACE/SIGNS LAYER
// [BTL] BLUETOOTH LAYER
//------------------------
// [L2] SYBEL LAYER

