/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

/*
╭──────────────────────────────────────────────────────────╮
│ @Author:  TheDirkKnight     @Contact:  github.com/DiSc21 │
│ @License: MIT             @copyright: 2024 TheDirkKnight │
│ @Data:    2025/01/04                                     │
╰──────────────────────────────────────────────────────────╯
 ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⡆⠀⠀⠀⠀⠀⠀⠀⣆              ⠀⠀⠀⣶⡀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣾⡇⠀⠀⠀⠀⠀⠀⠀⣿⡇               ⣼⣿⣧
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⡇⠀⠀⠀⠀⠀⠀⠀⡿⣿             ⠀⣰⣿⣿⣿⣆
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⣿⠀⠀⠀⠀⠀⠀⠀⠃⣿⡄           ⠀⢠⣿⣿⣿⣿⣿⣆
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⣿⣿⣿⣿⣿⣿⣿⣷⣼⣿⡇           ⣰⣿⣿⣿⣿⣿⣿⣿⣆
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⡇⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿           ⣰⣿⣿⣿⠋⠉⠙⣿⣿⣿⣆
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣠⣼⣿⣿⣿⣿⣿⣿⣿⣿⡏          ⣰⣿⣿⣿⡇⠀⠀⠀⢸⣿⣿⣟⣆
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢙⡻⢿⣿⡿⡟⣿⡿⠟⣛⠁        ⠀⣴⣿⠿⠛⠋⠁⠀⠀⠀⠈⠙⠛⠿⣿⣦
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⣠⣴⡾⠛⠉⠀⠀⠀⠉⠓⠂ ⡀⠀⠐⠛⠁⠀⠀⠀⣸⣿⣦⣄⡀⠀⠈⠉⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠁
⠀⠀⠀⠀⠀⠀⢀⣀⣀⣤⣤⣶⣿⣿⣿⣿⣿⣷⣆⠀⠀⠀⠀⠀⠀⢠⡇⠀⠀⠀⠀⠀⠀⠀⠈⣻⣿⣿⣿⣷⣶⣤⣤⣤⣄⣀
⠀⠀⠀⢀⣴⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠁⠀⠀⠀⠀ ⣀⣀  ⠀⠀⠀⠀⠀⠀⠀⠙⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣶⡄
⠀⠀⡾⣿⣿⣿⣿⠿⠋⢁⣿⣿⣿⣿⣿⣿⣟⣥⣶⢿⡛⠉⠀⠀⠈⠀⠀⠁⠀⠀⠀⠈⢙⡻⢷⣿⣿⣿⣿⣿⣿⣿⡟⠿⠿⣿⣿⣿⣿
⠀⠀⠀⣿⣿⠟⠁⠀⢠⣿⣿⣿⣿⣿⣿⡿⢟⣭⣶⣿⣷⣄⠀⠀⠀⣄⣀⡄⠀⠀⢀⣴⣿⣿⣷⣝⡻⣿⣿⣿⣿⣿⣿⣦⡀⠀⠉⠛⢿
⠀⠀⠀⠿⠁⠀⠀⠀⠋⠁⣿⣿⣿⡿⢋⣴⣿⣿⣿⣿⣿⣿⣿⣶⣾⣿⣿⣿⣶⣿⣿⣿⣿⣿⣿⣿⣿⣮⡻⣿⣿⣿⠯⠉⠙
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⠁⠽⠋⠠⠿⠿⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠿⠷⠌⠻⠟
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠻⠿⠿⠿⣿⣿⣿⣿⣿⣿⡿⠿⠿⠿⠟⠁
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠻⠋
╭───────────────────────────────────────────────────────╮
│ @brief: ZMK keymap for corne 3x5                      │
│                                                       │
│ @depends (external and non-std):                      │
│ - num_word (keeps caps until non-alpha tap)           │
│                                                       │
│ @depends (macros and defs):                           │
│ - combos.dtsi (combos for signs on default layer)     │
│ - shared_defs.dtsi (key positions)                    │
│ - shared_macros.dtsi (some aux macros)                │
│ - shared_nomod_morphs.dtsi (modifier-resistant-keys)  │
│                                                       │
│ @depends (custom behaviors):                          │
│ - behaviors_hrm.dtsi (home-row-modifiers)             │
│ - behaviors_led.dtsi (custom led-layer-hold-tabs)     │
│ - behaviors_multigraphs.dtsi (multikey macros)        │
╰───────────────────────────────────────────────────────╯
*/

/* std includes */
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/* led and mouse includes */
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/pointing.h>

/* shared defines for key nums, layers and timings */
#include "shared_defs.dtsi"
#include "shared_macros.dtsi"
#include "shared_nomod_morphs.dtsi"

/* some custom behavior definitions */
#include "behaviors_hrm.dtsi"
#include "behaviors_led.dtsi"
#include "behaviors_multigrams.dtsi"

/* custom combos */
#include "combos.dtsi"

&led_strip {
    chain-length = <24>;
};

/ {

    macros {
        SINGLE_PARAM_SANDWICH(add_spc,  &none, &kp SPACE)
        SINGLE_PARAM_SANDWICH(add_spsh, &none, &kp SPACE &sk LSHIFT)
        SINGLE_PARAM_SANDWICH(pre_caps, &sk LSHIFT, &kp SPACE)
    };

    behaviors {
        mmnr_del: mmnr_del {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&lt_red_r L_MG DEL>, <&kp BSPC>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        mmnl_bsp: mmnl_bsp {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&lt_red_l L_MG BSPC>, <&kp DEL>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // The Base Layer
        // ---------------------------------------------------------------------------------------------------------------------------------------------------
        // | - |  Q         |  W        | E          | R         || T         | |   -   | | Y         || U         | I          | O         | P           | - |
        // | - |  A [SHIFT] |  S [CTRL] | D [WIN]    | F [ALT]   || G         | |   -   | | H         || J [ALT]   | K [WIN]    | L [CTRL]  | ;/: [SHIFT] | - |
        // | - |  Z         |  X        | C          | V         || B         | |   -   | | N         || M         | ,/<        | ./>       | //?         | - |
        // -----------------------------| BSPC [NAV] | RET [BRC] || TAB [NUM] | |   -   | | ESC [NUM] || SPC [BRC] | ENTF [NAV] |------------------------------
        //                              -----------------------------------------------------------------------------------------
        default {
            display-name = "default";
            bindings = <
                &none &kp Q          &kp W         &kp E        &kp R              &kp T                     &kp Y               &kp U                &kp I        &kp O         &kp P             &none
                &none &hm_l LSHIFT A &hm_l LCTRL S &hm_l LGUI D &hm_l LALT F       &lt_pur_l L_SMART_NUM G   &lt_pur_l L_NUM H   &hm_r RALT J         &hm_r RGUI K &hm_r RCTRL L &hm_r RSHIFT SEMI &none
                &none &kp Z          &kp X         &kp C        &kp V              &kp B                     &kp N               &kp M                &kp COMMA    &kp DOT       &kp FSLH          &none
                                                   &mmnl_bsp    &lt_red_l L_MG RET &lt_red_l L_MG TAB        &lt_red_r L_MG ESC  &lt_red_r L_MG SPACE &mmnr_del
            >;
        };

        // [SMART_NUM] LAYER
        // -----------------------------------------------------------------------------------------------------------------------------------------
        // | - |            |           |          |          ||         |  |    -    |  |         || 7       | 8       | 9        |           | - |
        // | - |            |           |          |          ||         |  |    -    |  | 0       || 4 [ALT] | 5 [WIN] | 6 [CTRL] |           | - |
        // | - |            |           |          |          ||         |  |    -    |  |         || 1       | 2       | 3        |           | - |
        // -----------------------------|   BSPC   |          ||   TAB   |  |    -    |  |         ||         |   ENTF  |---------------------------
        //                              ---------------------------------------------------------------------------------
        smart_num {
            display-name = "smart_num";
            bindings = <
                &none  &to L_DEF  &to L_DEF  &to L_DEF  &to L_DEF  &to L_DEF       &kp COMMA  &kp N7        &kp N8        &kp N9         &to L_DEF  &none
                &none  &to L_DEF  &to L_DEF  &to L_DEF  &to L_DEF  &to L_DEF       &kp N0     &hm_r RALT N4 &hm_r RGUI N5 &hm_r RCTRL N6 &to L_DEF  &none
                &none  &to L_DEF  &to L_DEF  &to L_DEF  &to L_DEF  &to L_DEF       &kp DOT    &kp N1        &kp N2        &kp N3         &to L_DEF  &none
                                             &kp BSPC   &to L_DEF  &kp TAB         &to L_DEF  &to L_DEF     &kp DEL
            >;
        };

        // [KeyCombos] LAYER
        // -----------------------------------------------------------------------------------------------------------------------------------------
        // | - |           |          | E       | R       | T       |  |    -    |  |         | U        | I          | O         |            | - |
        // | - | A [SHIFT] | S [CTRL] | D [WIN] | F [ALT] |         |  |    -    |  | LEFT    | DOWN     | UP         | RIGHT     | ;          | - |
        // | - |           |          |         |         |         |  |    -    |  |         |          | ,          | .         | /          | - |
        // ---------------------------|         |         |         |  |    -    |  |         |          |            |-----------------------------
        //                            ---------------------------------------------------------------------------------
        multigrams {
            display-name = "mg-arrows";
            bindings = <
                &none &none                &none         &mumo_e     &none        &mumo_t         &none    &mumo_u         &mumo_i        &mumo_o           &none             &none
                &none &hm_l LSHIFT A       &hm_l LCTRL S &hm_l LGUI D &hm_l LALT F &none          &kp LEFT &hm_r RALT DOWN &hm_r RGUI UP  &hm_r RCTRL RIGHT &hm_r RSHIFT SEMI &none
                &none &none                &none         &none        &none        &none          &none    &none           &add_spc COMMA &add_spsh DOT     &none             &none
                                                         &trans       &trans       &trans         &trans   &trans          &trans
            >;
        };

        // [LED] LAYER
        // ---------------------------------------------------------------------------------------------------------------------------------------------
        // | - | BTCLR      |           |          |          |         |  |    -    |  |         | TOGGLE     | HUE++     | Sat++    | Light++    | - |
        // | - | B1         | B2        | B3       | B4       | B5      |  |    -    |  |         | Previous   | Slower    | Faster   | Next       | - |
        // | - |            |           |          |          |         |  |    -    |  |         |            | HUE--     | Sat--    | Light--    | - |
        // -----------------------------|          |          |         |  |    -    |  |         |            |           |----------------------------
        //                              ------------------------------------------------------------------------------------
        lighting {
            display-name = "bt-lighting";
            bindings = <
                &none &bt BT_CLR   &to L_DEF    &to L_DEF    &to L_DEF    &to L_DEF       &to L_DEF &rgb_ug RGB_TOG &rgb_ug RGB_HUI &rgb_ug RGB_SAI &rgb_ug RGB_BRI &none
                &none &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4    &to L_DEF &rgb_ug RGB_EFR &rgb_ug RGB_SPD &rgb_ug RGB_SPI &rgb_ug RGB_EFF &none
                &none &to L_DEF    &to L_DEF    &to L_DEF    &to L_DEF    &to L_DEF       &to L_DEF &to L_DEF       &rgb_ug RGB_HUD &rgb_ug RGB_SAD &rgb_ug RGB_BRD &none
                                                &to L_DEF    &to L_DEF    &to L_DEF       &to L_DEF &to L_DEF       &to L_DEF
            >;
        };

        // [NUM] LAYER
        // -----------------------------------------------------------------------------------------------------------------------------------------
        // | - | F1         | F2        | F3       | F4       || Euler   |  |    -    |  | +       || 7       | 8       | 9        | *         | - |
        // | - | F5 [SHIFT] | F6 [CTRL] | F7 [WIN] | F8 [ALT] || PI      |  |    -    |  | 0       || 4 [ALT] | 5 [WIN] | 6 [CTRL] | = [SHIFT] | - |
        // | - | F9         | F10       | F11      | F12      || Sqrt2   |  |    -    |  | -       || 1       | 2       | 3        | .         | - |
        // -----------------------------| BSPC     | RET      || **TAB** |  |    -    |  | **ESC** || SPC     | ENTF    |---------------------------
        //                              ---------------------------------------------------------------------------------
        numbers {
            display-name = "numbers";
            bindings = <
                &none &kp F1                &kp F2         &kp   F3      &kp F4        &trans         &trans &kp N7        &kp N8        &kp N9         &kp ASTERISK             &none
                &none &hm_shift_l LSHIFT F5 &hm_l LCTRL F6 &hm_l LGUI F7 &hm_l LALT F8 &trans         &kp N0 &hm_r RALT N4 &hm_r RGUI N5 &hm_r RCTRL N6 &hm_shift_r RSHIFT EQUAL &none
                &none &kp F9                &kp F10        &kp   F11     &kp F12       &trans         &trans &kp N1        &kp N2        &kp N3         &kp FSLH                 &none
                                                           &trans        &trans        &trans         &trans &trans        &trans
            >;
        };

        // [NAV] LAYER
        // ----------------------------------------------------------------------------------------------------------------------------------------------------
        // | - |            |           |          |          ||         |  |    -    |  | M-Scroll-L || M-LCKL     | M-MIDDLE   | M-Scroll-R | P-UP       | - |
        // |---|------------|-----------|----------|----------||---------|  |    -    |  |------------||------------|------------|------------|------------|---|
        // | - |    [SHIFT] | M2 [CTRL] | M3 [WIN] | M1 [ALT] || M-DBL   |  |    -    |  | <-         || DOWN       | UP         | ->         | M-RCKL     | - |
        // |---|------------|-----------|----------|----------||---------|  |    -    |  |------------||------------|------------|------------|------------|---|
        // | - |            |           |          |          ||         |  |    -    |  | <-MOUSE    || M-DOWN     | M-UP       | ->MOUSE    | P-DOWN     | - |
        // -----------------------------|----------|----------||---------|  |    -    |  |------------||------------|------------|------------------------------
        //                              | **BSPC** | RET      || TAB     |  |    -    |  | ESC        || SPC        | **ENTF**   |
        //                              ------------------------------------------------------------------------------------------
        navigation {
            display-name = "navigation";
            bindings = <
                &none &msc SCRL_UP   &mkp RCLK      &mmv MOVE_UP   &mkp LCLK       &trans             &trans   &mkp LCLK &mkp MCLK &mkp RCLK &kp PG_UP &none
                &none &msc SCRL_LEFT &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_RIGHT &msc SCRL_RIGHT    &kp LEFT &kp DOWN  &kp  UP   &kp RIGHT &trans    &none
                &none &msc SCRL_DOWN &trans         &mkp MCLK      &trans          &trans             &trans   &trans    &trans    &trans    &kp PG_DN &none
                                                    &trans         &trans          &trans             &trans   &trans    &trans
            >;
        };

    };
};

